<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/index.css" rel="stylesheet" type="text/css" />
    <title>GUMP</title>
</head>
<body>
    <div id="wrapper">
        <div id="menu">
            <a href="./archive.html" target="_self"><img id="archive" src="../img/main_archive.jpg"> </a>     
            <a href="./shop.html" target="_self"> <img id="shop" src="../img/main_shop.jpg"> </a>     
        </div>
    </div>    
    <footer>
        <div id="company">
            <ul>
                <li>Company</li>
                <li>검프</li>
            </ul>
        </div>
        <div id="owner">
            <ul>
                <li>Owner</li>
                <li>유승연</li>
            </ul>
        </div>
        <div id="license">
            <ul>
                <li>Business License</li>
                <li>667-32-01064</li>
            </ul>
        </div>
        <div id="contact">
            <ul>
                <li>contact</li>
                <li>+82)10-5422-5637</li>
                <li>gggumppp@gmail.com</li>
                <li>@ffforeestgumpppp</li>
            </ul>
        </div>
    </footer>
    

</body>
</html>